<section class="page_404">
    <!-- Container to hold the 404 error page content -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <!-- Section displaying the 404 error message -->
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>
  
          <!-- Content box that provides information about the error -->
          <div class="content_box_404">
            <h3 class="h2">Looks like you're lost</h3>
            <p>The page you are looking for is not available!</p>
  
            <!-- Button to navigate to home page -->
            <div class="go-to-home">
              <a (click)="goToHome()" class="link_404">Go to Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  